<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Title</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/02_ex.css">
  <link rel="stylesheet" href="css/02_user_login.css">
  <link rel="stylesheet" href="css/01_user_login.css">

</head>

<body class="met-navfixed">
  <header class="met-head navbar-fixed-top navbar-shadow" m-id="1" m-type="head_nav">
    <nav class="navbar navbar-default box-shadow-none head_nav_met_21_11 navbar-expand-sm navbar-dark">
      <div class="container">
        <div class="row">
          <h1 hidden="">智能家居</h1>
          <nav class="lh-header navlist">
            <a href="#" class="lh-logo">
              <img src="./images/1531904189.png" alt="智能家居" title="智能家居">
            </a>
            <ul class="lh-header-nav lh-flex list-unstyled  nav " id="d1">
              <li class="active">
                <a href="#" title="网站首页">
                  <h2 class="">网站首页</h2>
                  <h3>HOME</h3>
                  <span></span>
                </a>
              </li>
              <li class="">
                <a href="#" target="_self">
                  <h2>关于我们</h2>
                  <h3>About us</h3>
                  <span></span>
                </a>
              </li>
              <li>
                <a href="#" target="_self">
                  <h2>产品中心</h2>
                  <h3>Product</h3>
                  <span></span>
                </a>
              </li>
              <li class="">
                <a href="#" target="_self">
                  <h2>技术动态</h2>
                  <h3>news</h3>
                  <span></span>
                </a>
              </li>
              <li class="">
                <a href="#" target="_self">
                  <h2>行业案例</h2>
                  <h3>case</h3>
                  <span></span>
                </a>
              </li>
              <li class="">
                <a href="#" target="_self">
                  <h2>体验店面</h2>
                  <h3>experience</h3>
                  <span class=""></span>
                </a>
              </li>
            </ul>
            <div class="lh-map-btn" data-target="#zhedie" data-toggle="collapse">
              <span class="">
              </span></div>
          </nav>
          <section class="lh-map  collapse collapsing" id='zhedie'>
            <div class="lh-map-main ">
              <div class="lh-map-logo">
                <img src="./images/1531904189.png" alt="智能家居" title="智能家居">
              </div>
              <h2 class="lh-map-h2">我们不生产家居，我们只为她注入思维</h2>
              <h3 class="lh-map-h3">We do not produce homes, we only inject thoughts for her.</h3>
              <nav class="lh-map-nav clearfix lh-flex">
                <dl>
                  <dt><a href="#" target="_self">关于我们</a></dt>
                  <dd>
                    <a href="#" target="_self">领域优势</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">企业风采</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="#" target="_self">产品中心</a></dt>
                  <dd>
                    <a href="#" target="_self">智能场景</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">智能照明</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">智能家电</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">家庭安全</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="#" target="_self">技术动态</a></dt>
                  <dd>
                    <a href="#" target="_self">最新资讯</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">前沿动态</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="#" target="_self">行业案例</a></dt>
                  <dd>
                    <a href="#" target="_self">智慧生活</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">智慧办公</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">智慧酒店</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">智慧教育</a>
                  </dd>
                  <dd>
                    <a href="#" target="_self">智慧养老</a>
                  </dd>
                </dl>
                <dl>
                  <dt><a href="#" target="_self">体验店面</a></dt>
                </dl>
              </nav>
              <div class="lh-map-cont clearfix">
                <div class="lh-map-l left">
                  <h2 class="lh-fonts">心随未来，享你所想　</h2>
                  <h3>
                    <span>全国客服热线：</span>
                    <b class="lh-fonts"><a href="tel:4000000000" target="_self">4000000000</a></b>
                  </h3>
                </div>
                <div class="lh-map-r right clearfix">
                  <div class="left">
                    <img src="./images/1531900415.png" alt="二维码1">
                    <h2>二维码1</h2>
                  </div>
                  <div class="left">
                    <img src="./images/1531900415.png" alt="二维码2">
                    <h2>二维码2</h2>
                  </div>
                </div>
              </div>
              <div class="lh-map-line"><i></i><span></span> </div>
            </div>
            <div class="lh-map-close">CLOSE<i data-toggle="collapse" data-target="#zhedie"></i></div>
            <!-- 会员注册登录 -->
            <div class="met-nav-langlist">
              <!-- 会员注册登录 -->
              <button type="button" class=" p-x-5 met-head-user-toggler"> <i class="icon wb-user-circle" aria-hidden="true"></i>
              </button>
              <div class="collapse navbar-collapse navbar-collapse-toolbar pull-md-right " id="met-head-user-collapse"
                m-id="member" m-type="member">
                <ul class="navbar-nav vertical-align p-l-0 m-b-0 met-head-user" m-id="member" m-type="member">
                  <li class=" text-xs-center vertical-align-middle animation-fade">
                    <a href="" class="btn btn-squared btn-primary btn-outline m-r-10">登录</a>
                    <a href="index.html" class="btn btn-squared btn-success">注册</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <ul class="lh-moblie-nav list-unstyled ">
            <li>
              <h2><a href="#" title="网站首页">网站首页</a></h2>
            </li>
            <li>
              <h2><a href="#" title="关于我们">关于我们<i class="icon fa-angle-right"></i></a></h2>
              <dl>
                <dd>
                  <a href="#" title="关于我们">
                    全部 </a>
                </dd>
                <dd>
                  <a href="#" title="领域优势">领域优势</a>
                </dd>
                <dd>
                  <a href="#" title="企业风采">企业风采</a>
                </dd>
              </dl>
            </li>
            <li>
              <h2><a href="#" title="产品中心">产品中心<i class="icon fa-angle-right"></i></a></h2>
              <dl>
                <dd>
                  <a href="#" title="产品中心">
                    全部 </a>
                </dd>
                <dd>
                  <a href="#" title="智能场景">智能场景</a>
                </dd>
                <dd>
                  <a href="#" title="智能照明">智能照明</a>
                </dd>
                <dd>
                  <a href="#" title="智能家电">智能家电</a>
                </dd>
                <dd>
                  <a href="#" title="家庭安全">家庭安全</a>
                </dd>
              </dl>
            </li>
            <li>
              <h2><a href="#" title="技术动态">技术动态<i class="icon fa-angle-right"></i></a></h2>
              <dl>
                <dd>
                  <a href="#" title="技术动态">
                    全部 </a>
                </dd>
                <dd>
                  <a href="#" title="最新资讯">最新资讯</a>
                </dd>
                <dd>
                  <a href="#" title="前沿动态">前沿动态</a>
                </dd>
              </dl>
            </li>
            <li>
              <h2><a href="#" title="行业案例">行业案例<i class="icon fa-angle-right"></i></a></h2>
              <dl>
                <dd>
                  <a href="#" title="行业案例">
                    全部 </a>
                </dd>
                <dd>
                  <a href="#" title="智慧生活">智慧生活</a>
                </dd>
                <dd>
                  <a href="#" title="智慧办公">智慧办公</a>
                </dd>
                <dd>
                  <a href="#" title="智慧酒店">智慧酒店</a>
                </dd>
                <dd>
                  <a href="#" title="智慧教育">智慧教育</a>
                </dd>
                <dd>
                  <a href="#" title="智慧养老">智慧养老</a>
                </dd>
              </dl>
            </li>
            <li>
              <h2><a href="#" title="体验店面">体验店面</a></h2>
            </li>
            <li>

              <div class="collapse navbar-collapse navbar-collapse-toolbar pull-md-right  " id="met-head-user-collapse"
                m-id="member" m-type="member">
                <ul class="navbar-nav vertical-align p-l-0 m-b-0 met-head-user" m-id="member" m-type="member">
                  <li class=" text-xs-center vertical-align-middle animation-fade">
                    <a href="" class="btn btn-squared btn-primary btn-outline m-r-10">登录</a>
                    <a href="" class="btn btn-squared btn-success">注册</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="banner_met_21_4-ny vertical-align text-xs-center" m-id="2" m-type="banner">
    <h1 class="vertical-align-middle"></h1>
  </div>
  <div class="met-member login-index page p-y-50">
    <div class="container">
      <form method="post" action="" class="met-form met-form-validation fv-form-bootstrap4 fv-form" novalidate="novalidate"><button
          type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
        <input type="hidden" name="gourl" value="">
        <div class="form-group">
          <input type="text" name="username" class="form-control" placeholder="用户名/邮箱/手机" required=""
            data-fv-notempty-message="此项不能为空" data-fv-field="username">
          <small class="form-control-label" data-fv-validator="notEmpty" data-fv-for="username" data-fv-result="NOT_VALIDATED"
            style="display: none;">此项不能为空</small></div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" placeholder="密码" required=""
            data-fv-notempty-message="此项不能为空" data-fv-field="password">
          <small class="form-control-label" data-fv-validator="notEmpty" data-fv-for="password" data-fv-result="NOT_VALIDATED"
            style="display: none;">此项不能为空</small></div>
        <div class="login_link text-xs-right m-b-15"><a href="">忘记密码？</a></div>
        <button type="submit" class="btn btn-lg btn-primary btn-squared btn-block ">登录</button>
        <a class="btn btn-lg btn-info btn-squared btn-block m-t-20" href="">没有账号？现在去注册</a>
      </form>
    </div>
  </div>
  <footer class="foot_info_met_11_1 p-y-20" m-id="31" m-type="foot">
    <div class="container text-xs-center">
      <p class="m-b-0">我的网站 版权所有 2008-2018 湘ICP备8888888</p>
      <p class="m-b-0">本页面内容为网站演示数据，前台页面内容都可以在后台修改。</p>
      <div class="powered_by_metinfo">
        Powered&nbsp;by&nbsp;
        <a href="" target="_blank" title="$lang_Info1">MetInfo</a>
        &nbsp;6.1.3
      </div>
    </div>
  </footer>
  </div>
</body>

</html>